﻿
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-controller="QRCode" asp-action="generate">
    <input type="text" placeholder="Product ID" name="productId" value="@ViewBag.productId"/>
    <input type="submit" value="Generate" />
</form>
@if (@ViewBag.productId != null)
{
    <qrcode content="@ViewBag.productId" width="200" height="200"/>
}